<h1>Checks#index</h1>
<p>Find me in app/views/checks/index.html.erb</p>

<form action="/checks/second" method="get">
    
    <span>Enter your number from 1 to 45 </span> 
    
    <!--    
    <input type="number" name="a[]" >
    <input type="number" name="a[]" value="2">
    <input type="number" name="a[]" value="3">
    <input type="number" name="a[]" value="4">
    <input type="number" name="a[]" value="5">
    <input type="number" name="a[]" value="6">
    -->

    <input type="number" name="num1" min="1" max="45">
    <input type="number" name="num2" min="1" max="45">
    <input type="number" name="num3" min="1" max="45">
    <input type="number" name="num4" min="1" max="45">
    <input type="number" name="num5" min="1" max="45">
    <input type="number" name="num6" min="1" max="45">
    
    <input type = "submit" value ="Submit">
</form>
